<h1>Welcome <%= data.name %> </h1>

<table>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>_Id</th>
        <th>Email</th>
        <th>Password</th>
        <th>Position</th>
    </tr>
    <tr>
        <td><%= data.name %></td>
        <td><%= data.id %></td>
        <td><%= data._id %></td>
        <td><%= data.email %></td>
        <td><%= data.password %></td>
        <td><%= data.position%></td>
    </tr>
</table>


<form action="/dashboard" method="POST">
    <h2>Subject of interest</h2>
    <div class="form-group" id="position">
        <label class="radio-inline"><input type="radio" name="optradio" value="1" required>English</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="2">History</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="3">Language</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="4">Science</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="5">Math</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="6">Computer Science</label>
        
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
